@font-face {
    font-family: 'vcr_osd_monoregular';
    src: url('vcr_osd_mono_1.001-webfont.woff2') format('woff2'),
         url('vcr_osd_mono_1.001-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html {
	font:2.5em "vcr_osd_monoregular";
}
body {
	background:black;
	color:white;
	text-align:center;
	margin:0;
}
#container {
	margin:auto;
}
h2#title {
	background:url(img/cmw-c0m2w0.gif);
	border-bottom:2px solid magenta;
	padding:10px 0px 14px 0px;
	text-shadow: 4px 4px black;
	position:relative;
}
#prefbut {
	position:absolute; right:10px; top:0px;
	color:cyan; font-size:0.8em;
	cursor:pointer;
}
#input {
	font:1rem "vcr_osd_monoregular";
	padding:0.2em;
}
#input:focus,a:focus {
	outline:3px solid magenta;
}
a,a:visited {
	color:cyan;
}

#qnum {
	display:block;
	font-size:0.8em;
	margin-top:1em;
	margin-bottom:0.6em;
	color:magenta;
}
#qstats {
	display:block;
	font-size:0.6em;
	margin-bottom:0.6em;
}

h2.title {
	margin-bottom:0.3em;
}

/* SLIDER */
	#slider {
		width: 10em;
		height: 0.2em;
		margin: 1em auto;
		background:magenta;
	}

	#custom-handle {
		width: 0.2em;
		height: 1em;
		background: white;
		top: -.4em;
		margin-left: -.1em;
	}
	#custom-handle:focus {
		outline:3px solid cyan;
	}

	#slider .ui-slider-range {
		background: cyan;
		height:0.7em;
		top: -0.2em;
	}


	.ui-corner-all {
		border: none !important;
		border-radius: 0 !important;
	}

	.ui-slider-horizontal .ui-slider-handle {
	}

	img {
		image-rendering: pixelated;
	}
	
	img.playpause {
		width: 2em;
		height: 2em;
		image-rendering: pixelated;
		position: absolute;
		left: 0;
		top: 0;
	}

	#control {
		width: 2em;
		height: 2em;
		position: relative;
		margin: auto;
	}
	#playercontrols canvas {
		width:10em;
		height:2em;
		margin-top:0.1em;
	}

#questions {
	margin-top:0.5em;
	text-align:left;
	width:15em;
	margin:auto;
}
#questions .question img {
	width:64px;
	height:64px;
	position:relative;
	top:0.3em;
}

#intro {
	font-size:0.7em;
	width:15em;
	margin:auto;
}

#prefform {
	display:none;
	border-bottom:2px solid white;
	padding-bottom:8px;
	margin-bottom:8px;
	bottom:0px;
}
#prefform table {
	width:10em;
	margin:auto;
	font-size:0.6em;
}
input.cga-checkbox {
	opacity:0;width:1px;height:1px;
}
.cga-checkbox-wrap {
	width:32px;
	height:32px;
	padding:0;
}
.cga-checkbox-wrap img {
	width:32px;
	height:32px;
}

a.cyanbut {
	border:2px solid cyan;
	background: url(img/cmw-c4m0w0.gif);
	text-decoration: none;
	text-shadow:2px 2px black;
	color:white;
	padding:2px;
	text-transform:uppercase;
	font-size:0.8em;
}

#commentsbox {
	display:none;
}