@font-face {
  font-family: "vcr_osd_monoregular";
  src: url("vcr_osd_mono_1.001-webfont.woff2") format("woff2"), url("vcr_osd_mono_1.001-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  font: 2.5em "vcr_osd_monoregular";
}
body {
  background: black;
  color: white;
  text-align: center;
  margin: 0;
}
#container {
  margin: auto;
}
#maincontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;

  #leftpane {
    min-width: 100px;
    order: 1;
    flex: 1 1 auto;
    align-self: auto;
    width: 25%;
  }

  #scorepane {
    min-width: 100px;
    order: 3;
    flex: 1 1 auto;
    align-self: auto;
	width: 25%;
	
	.remaining {
		margin-top:0.4em;
		font-size:0.7em;
	}
  }

  #questionpane {
    order: 2;
    flex: 2 1 auto;
    align-self: auto;
    width: 50%;

    #subject {
      height: 6.5em;
      display: flex;
      justify-content: center;
      align-items: center;

      #playercontrols {
        canvas {
          width: 10em;
          height: 2em;
          margin-top: 0.1em;
        }

        #slider {
          width: 10em;
          height: 0.2em;
          margin: 1em auto;
          background: magenta;

          #custom-handle {
            width: 0.2em;
            height: 1em;
            background: white;
            top: -0.4em;
            margin-left: -0.1em;

            &:focus {
              outline: 3px solid cyan;
            }
          }

          .ui-slider-range {
            background: cyan;
            height: 0.7em;
            top: -0.2em;
          }
        }
        #control {
          width: 2em;
          height: 2em;
          position: relative;
          margin: auto;

          img.playpause {
            width: 2em;
            height: 2em;
            position: absolute;
            left: 0;
			top: 0;
			cursor:pointer;
          }
        }
      }

      #imageframe {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
        img {
          border: 5px solid white;
          padding: 4px;
          margin: auto;
        }
      }
    }

    #questions {
      margin-top: 0.5em;
      text-align: left;
      width: 15em;
      margin: auto;
      padding-right: 68px;

      table {
        width: 100%;

        td.star {
          vertical-align: top;
        }
      }

      .question {
        font-size: 2.7em;

        img {
          width: 64px;
          height: 64px;
          margin-right: 4px;
        }
      }
    }
  }
}
h2#title {
  background: url(img/cmw-c0m2w0.gif);
  border-bottom: 2px solid magenta;
  padding: 10px 0px 14px 0px;
  text-shadow: 4px 4px black;
  position: relative;
}
#title .titlelink {
  text-decoration: none;
  color: white;
}
#prefbut {
  position: absolute;
  right: 10px;
  top: 3px;
  color: cyan;
  font-size: 1.3em;
  cursor: pointer;
  margin-right: 6px;
  display: none;
  text-decoration: none;
  width:0.8em; height:0.8em;

  &.open {
    filter:brightness(100%);
  }
}

#gt {
  width: 64px;
  height: 64px;
  top: 12px;
  position: relative;
}
#input {
  font: 1rem "vcr_osd_monoregular";
  padding: 0.2em 0.3em 0.2em 0.3em;
  background: black;
  border: 2px solid magenta;
  color: white;
  caret-color: cyan;
  margin-left: 4px;
}
#ok {
  width:5em; cursor:pointer;
}
#input:focus,
a:focus,
.cyanbut:hover {
  outline: 3px solid magenta;
}
a,
a:visited {
  color: cyan;
}

#qnum {
  display: block;
  font-size: 0.8em;
  margin-top: 1em;
  margin-bottom: 0.6em;
  color: magenta;
}
#qstats {
  display: block;
  font-size: 0.6em;
  margin-bottom: 0.6em;
}

h2#title {
  margin-bottom: 0.3em;
  margin-top: 0px;
}

.ui-corner-all {
  border: none !important;
  border-radius: 0 !important;
}

img {
  image-rendering: pixelated;
}
.ua-ff img {
  image-rendering: optimizeSpeed;
}

#messages {
  font-size: 0.7em;
  width: 15em;
  margin: auto;

  [data-message] {
    display: none;
  }
}

#prefs {
  position:absolute;
  display:none;
  width:100%;
  background:black;
  border-bottom: 2px solid white;
  z-index:20;


  #prefform {
    padding-bottom: 8px;
    margin-bottom: 8px;
    bottom: 0px;

    .platforms {
      display:flex;
      justify-content: flex-start;
      flex-direction: column;
      flex-wrap: wrap;
      width: 20em;
      height: 7em;
      margin: auto;
      font-size: 0.6em;

      .plat {
        //width:10em;
        height:1.4em;
        display:flex;
        align-items: center;
      }
    }
  }

  .resets {
    display:flex;
    max-width:30em;
    margin:auto;
  }
  
}

input.cga-checkbox {
  opacity: 0;
  width: 1px;
  height: 1px;
}
.cga-checkbox-wrap {
  width: 32px;
  height: 32px;
  padding: 0;

  img {
    width: 32px;
    height: 32px;
  }
}

a.cyanbut {
  display: block;
  border: 2px solid cyan;
  background: url(img/cmw-c4m0w0.gif);
  text-decoration: none;
  text-shadow: 2px 2px black;
  color: white;
  padding: 2px 20px;
  width: 10em;
  text-transform: uppercase;
  font-size: 0.8em;
  margin: 6px auto;
  text-align: center;
}

#commentsbox {
  display: none;
}
#qform {
  width: 15em;
  margin: auto;
  padding-right: 68px;
  text-align: left;
}

.tutorial {
  font-size: 0.5em;
  position: relative;
  width: 18em;
  margin: auto;
   border:2px solid magenta;
}

.close.mini {
  position: absolute;
  right: 0;
  top: 0;
  color: cyan;
  cursor: pointer;
}

#correct3 {
  font-size:0.5em;

  h3 {
    font-size:1.5em;
  }
  
}

.small {
  font-size:0.5em;
}