@font-face {
	font-family: "vcr_osd_monoregular";
	src: url("vcr_osd_mono_1.001-webfont.woff2") format("woff2"), url("vcr_osd_mono_1.001-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
html {
	font: 2.5em "vcr_osd_monoregular";
	-webkit-font-smoothing: none;
}
body {
	background: url(img/back.gif) black;
	background-position: top;
	background-size: calc(640px * 3) calc(400px * 3);
	image-rendering: pixelated;
	color: white;
	text-align: center;
	margin: 0;
	overflow-y: hidden;
	height: 100vh;
}

#container {
	margin: auto;
}
#maincontainer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: stretch;
	align-items: stretch;

	#leftpane {
		min-width: 100px;
		order: 1;
		flex: 1 1 auto;
		align-self: auto;
		width: 25%;
	}

	#scorepane {
		@extend .blackbox;

		min-width: 100px;
		order: 3;
		flex: 1 1 auto;
		align-self: auto;
		width: 25%;
		border: 2px solid cyan;
		padding: 4px;
		height: 10em;

		.section {
			margin-bottom: 0.2em;
		}

		.head {
			text-align: left;
			font-size: 0.6em;
			color: cyan;
		}
		.label.set {
			font-size: 0.8em;
		}

		.remaining {
			margin-top: 0.4em;
			font-size: 0.7em;
		}
	}

	#questionpane {
		@extend .blackbox;

		order: 2;
		flex: 2 1 auto;
		align-self: auto;
		width: 20em;

		#subject {
			height: 6.5em;
			display: flex;
			justify-content: center;
			align-items: center;

			#playercontrols {
				canvas {
					width: 10em;
					height: 2em;
					margin-top: 0.1em;
				}

				#slider {
					width: 10em;
					height: 0.2em;
					margin: 1em auto;
					background: magenta;

					#custom-handle {
						width: 0.2em;
						height: 1em;
						background: white;
						top: -0.4em;
						margin-left: -0.1em;

						&:focus {
							outline: 3px solid cyan;
						}
					}

					.ui-slider-range {
						background: cyan;
						height: 0.7em;
						top: -0.2em;
					}
				}
				#control {
					width: 4em;
					height: 2em;
					position: relative;
					margin: auto;

					img.playpause {
						width: 2em;
						height: 2em;
						position: absolute;
						left: 0;
						top: 0;
						cursor: pointer;
					}
					a.playpause {
						width: 3rem;
						height: 1.8rem;
						--position: absolute;
						--left: 0;
						--top: 0;
						cursor: pointer;
						margin: auto;

						&#play {
							font-size: 1.5em;
							line-height: 43pt;
						}
						&#pause {
							font-size: 0.9em;
							line-height: 47pt;
						}
					}
				}
			}

			#imageframe {
				order: 0;
				flex: 0 1 auto;
				align-self: auto;
				img {
					border: 5px solid white;
					padding: 4px;
					margin: auto;
				}
			}
		}

		#questions {
			margin-top: 0.5em;
			text-align: left;
			width: 15em;
			margin: auto;

			table {
				width: 100%;

				td.star {
					vertical-align: top;
				}
			}

			.question {
				font-size: 2.7em;

				img {
					width: 64px;
					height: 64px;
					margin-right: 4px;
				}
			}
		}
	}
}

.form-container {
	height:200px;
}
#qform {
	width: 15em;
	margin: auto;
	//padding-right: 68px;
	text-align: left;

	.qinput {
		display:grid;
		grid-template-columns: 64px auto 64px;

		img#gt {
			width: 64px;
			height: 64px;
			top: 0px;
			position: relative;
		}
		.inp {
			
		}
		#input {
			font: 1rem "vcr_osd_monoregular";
			padding: 0.2em 0.3em 0.2em 0.3em;
			background: black;
			border: 2px solid magenta;
			color: white;
			caret-color: cyan;
			margin-left: 4px;
			//margin-right: 60px;
			width: 11.5em;
			caret-shape: underscore;
		}
	}
	#ok {
		width: 5em;
		font-size: 1.2em;
		cursor: pointer;
	}
}
#input:focus,
a:focus,
.cyanbut:hover {
	outline: 3px solid magenta;
}
.cyanbut:active {
	padding: 4px 18px 0px 22px;
	box-shadow: inset 2px 2px 0px black;
}
a,
a:visited {
	color: cyan;
}

#qnum {
	display: block;
	font-size: 0.8em;
	margin-top: 1em;
	margin-bottom: 0.6em;
	color: magenta;
}
#qstats {
	display: block;
	font-size: 0.6em;
	margin-bottom: 0.6em;
}

div#title {
	margin-bottom: 0.3em;
	margin-top: 0px;
	background: url(img/cmw-c0m2w0.gif);
	border-bottom: 2px solid magenta;
	padding: 5px 0px 10px 0px;
	text-shadow: 4px 4px black;
	position: relative;

	.titlelink {
		text-decoration: none;
		color: white;
	}
	#prefbut {
		position: absolute;
		right: 10px;
		top: 3px;
		color: cyan;
		font-size: 1.3em;
		cursor: pointer;
		margin-right: 6px;
		display: none;
		text-decoration: none;
		width: 0.8em;
		height: 0.8em;

		&.open {
			filter: brightness(100%);
		}
	}
}

.ui-corner-all {
	border: none !important;
	border-radius: 0 !important;
}

img {
	image-rendering: pixelated;
}
.ua-ff img {
	image-rendering: optimizeSpeed;
}

.blackbox {
	background: black;
	&::-webkit-scrollbar-button {
		display: none;
	}
	&::-webkit-scrollbar {
		width: 0.5em;
		height: 0.5em;
	}
	&::-webkit-scrollbar-thumb {
		background: url(img/cmw-c0m4w0.gif);
		border-radius: 3px;

		&:hover {
		}
	}
}

#messages {
	font-size: 0.7em;
	margin: auto;

	[data-message="intro"] {
		.logo {
		}
		.cyanbut#start {
			width: 400px;
			height: 48px;
			font-size: 1.8em;
		}
	}

	.select-h2 {
		//@extend .blackbox;
		margin: 1em auto 1em auto;
		font-size: 1.2em;
		width: 15em;
		@extend .bigshadow;
	}

	[data-message="selection"] {
		h2 {
			@extend .select-h2;
		}

		#select-set {
			@extend .blackbox;

			width: 24em;
			height: 18em;
			overflow-y: scroll;
			margin: auto;
			//display:flex;

			a.set {
				display: block;
				margin-bottom: 0.2em;
				text-decoration: none;
				padding: 0.2em;
				margin: 4px auto;
				width: 95%;

				&:hover {
					outline: 3px solid magenta;
				}

				.label {
					margin-bottom: 0.1em;
					color: white;
				}

				.description {
					font-size: 14px;
				}
			}
		}
	}

	[data-message="difficulty"] {
		h2 {
			@extend .select-h2;
		}

		#select-diff {
			@extend .blackbox;
			display: flex;
			width: 23em;
			margin: auto;
			place-content: space-between;
			padding: 0.5em;

			a.diff {
				text-decoration: none;
				width: 10em;
				padding: 0.5em;
				&:hover {
					outline: 3px solid magenta;
				}
				img {
					width: 160px;
					height: 100px;
					margin-bottom: 0.2em;
				}
				.label {
					color: white;
					font-size: 1.2em;
					margin-bottom: 0.4em;
				}
				.desc {
					font-size: 0.8em;
					margin-bottom: 0.8em;
				}
				.desc2 {
					font-size: 0.5em;
					color: magenta;
				}
			}
		}
	}

	.logo-mini {
	}

	h2 {
		margin-bottom: 2em;
		@extend .bigshadow;
	}

	p {
		width: 15em;
		margin: 0 auto 0.5em auto;
	}

	[data-message] {
		display: none; // at start
	}
}

.bigshadow {
	text-shadow: 6px 4px black, 4px 6px black, 4px 4px black, 4px 0px black, 0px 4px black, -4px 0px black,
		0px -4px black;
}

#prefs {
	position: absolute;
	display: none;
	width: 100%;
	background: black;
	border-bottom: 2px solid white;
	z-index: 20;

	#prefform {
		padding-bottom: 8px;
		margin-bottom: 8px;
		bottom: 0px;

		.platforms {
			display: flex;
			justify-content: flex-start;
			flex-direction: column;
			flex-wrap: wrap;
			width: 20em;
			height: 7em;
			margin: auto;
			font-size: 0.6em;

			.plat {
				//width:10em;
				height: 1.4em;
				display: flex;
				align-items: center;
			}
		}
	}

	.resets {
		display: flex;
		justify-content: space-evenly;
		max-width: 30em;
		margin: 1em auto;

		.resetdesc {
			font-size: 0.5em;
		}
	}
}

input.cga-checkbox {
	opacity: 0;
	width: 1px;
	height: 1px;
}
.cga-checkbox-wrap {
	width: 32px;
	height: 32px;
	padding: 0;

	img {
		width: 32px;
		height: 32px;
	}
}

a.cyanbut {
	display: block;
	border: 2px solid cyan;
	background: url(img/cmw-c4m0w0.gif);
	text-decoration: none;
	text-shadow: 2px 2px black;
	color: white;
	padding: 2px 20px;
	width: 10em;
	text-transform: uppercase;
	font-size: 0.8em;
	margin: 6px auto;
	text-align: center;
}

#commentsbox {
	display: none;
}

.tutorial {
	font-size: 0.5em;
	position: relative;
	width: 18em;
	margin: auto;
	border: 2px solid magenta;
}

.close.mini {
	position: absolute;
	right: 0;
	top: 0;
	color: cyan;
	cursor: pointer;
}

#correct3 {
	font-size: 0.5em;

	h3 {
		font-size: 1.5em;
	}
}

.small {
	font-size: 0.5em;
}

#footer {
	margin-top: 2em;
}
